
body {
    background-color: black;
}
h1 {
    text-align: left;
    color: white;
}
h2 {
 color: white;   
}
p {
    font-size: medium;
    color: red;
    border-width: 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: darkred;
    background-color: darkgray;
}
.profile {
    float: right;
    border-radius: 50%;
    border-width: 7px;
    border-color: black;
    border-style: solid;
    width: 100px;
    height: 100px;
}
.menu-bar {
    border-color: darkblue;
    background-color: whitesmoke;
    font-size: large;
    color: rgb(16, 60, 237);
    text-align: center;
}